<form id="create_new" action="api/photos" method="POST">

  <label>Title:
    <input type="text" name="photo[title]" value="">
  </label>

  <br>

  <label>URL:
    <input type="text" name="photo[url]" value="">
  </label>

  <br>

  <button class="submit">Submit!</button>

</form>